DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_TRUSTED_ORIGINS=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_STORE_ID=
LEMON_SQUEEZY_WEBHOOK_SECRET=
LEMON_SQUEEZY_TEST_MODE=true
LEMON_SQUEEZY_CREDITS_1_VARIANT_ID=
LEMON_SQUEEZY_CREDITS_5_VARIANT_ID=
LEMON_SQUEEZY_CREDITS_10_VARIANT_ID=
LEMON_SQUEEZY_CREDITS_100_VARIANT_ID=
LEMON_SQUEEZY_CREDITS_1000_VARIANT_ID=
ADMIN_EMAILS=
NUXT_DEVTOOLS=false
