@import "tailwindcss";
@import "@nuxt/ui";

@source inline("{bg,fill,stroke,text}-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{100,200,300,400,500,600,700,800,900}");

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-google-sans: 'Google Sans', sans-serif;
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-condensed: 'Roboto Condensed', sans-serif;
  --font-figtree: 'Figtree', sans-serif;
  --font-libre-baskerville: 'Libre Baskerville', serif;
  --font-changa-one: 'Changa One', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
  --font-rye: 'Rye', serif;
  --font-sancreek: 'Sancreek', serif;
  --font-im-fell-great-primer: 'IM Fell Great Primer', serif;
  --font-creepster: 'Creepster', cursive;
  --font-jersey-25: 'Jersey 25', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
